
.az-grid-row
{
    display: grid;
}

/* Size XS ----*/
.az-grid-row.xs-12
{
    grid-template-columns: repeat(12, 1fr);
}

.az-grid-row.xs-11
{
    grid-template-columns: repeat(11, 1fr);
}

.az-grid-row.xs-10
{
    grid-template-columns: repeat(10, 1fr);
}

.az-grid-row.xs-9
{
    grid-template-columns: repeat(9, 1fr);
}

.az-grid-row.xs-8
{
    grid-template-columns: repeat(8, 1fr);
}

.az-grid-row.xs-7
{
    grid-template-columns: repeat(7, 1fr);
}

.az-grid-row.xs-6
{
    grid-template-columns: repeat(6, 1fr);
}

.az-grid-row.xs-5
{
    grid-template-columns: repeat(5, 1fr);
}

.az-grid-row.xs-4
{
    grid-template-columns: repeat(4, 1fr);
}

.az-grid-row.xs-3
{
    grid-template-columns: repeat(3, 1fr);
}

.az-grid-row.xs-2
{
    grid-template-columns: repeat(2, 1fr);
}

.az-grid-row.xs-1
{
    grid-template-columns: repeat(1, 1fr);
}

.az-grid-row > .az-grid-item.xs-order-12
{
    order: 12;
}

.az-grid-row > .az-grid-item.xs-order-11
{
    order: 11;
}

.az-grid-row > .az-grid-item.xs-order-10
{
    order: 10;
}

.az-grid-row > .az-grid-item.xs-order-9
{
    order: 9;
}

.az-grid-row > .az-grid-item.xs-order-8
{
    order: 8;
}

.az-grid-row > .az-grid-item.xs-order-7
{
    order: 7;
}

.az-grid-row > .az-grid-item.xs-order-6
{
    order: 6;
}

.az-grid-row > .az-grid-item.xs-order-5
{
    order: 5;
}

.az-grid-row > .az-grid-item.xs-order-4
{
    order: 4;
}

.az-grid-row > .az-grid-item.xs-order-3
{
    order: 3;
}

.az-grid-row > .az-grid-item.xs-order-2
{
    order: 2;
}

.az-grid-row > .az-grid-item.xs-order-1
{
    order: 1;
}

.az-grid-row > .az-grid-item.xs-span-12
{
    grid-column: span 12;
}

.az-grid-row > .az-grid-item.xs-span-11
{
    grid-column: span 11;
}

.az-grid-row > .az-grid-item.xs-span-10
{
    grid-column: span 10;
}

.az-grid-row > .az-grid-item.xs-span-9
{
    grid-column: span 9;
}

.az-grid-row > .az-grid-item.xs-span-8
{
    grid-column: span 8;
}

.az-grid-row > .az-grid-item.xs-span-7
{
    grid-column: span 7;
}

.az-grid-row > .az-grid-item.xs-span-6
{
    grid-column: span 6;
}

.az-grid-row > .az-grid-item.xs-span-5
{
    grid-column: span 5;
}

.az-grid-row > .az-grid-item.xs-span-4
{
    grid-column: span 4;
}

.az-grid-row > .az-grid-item.xs-span-3
{
    grid-column: span 3;
}

.az-grid-row > .az-grid-item.xs-span-2
{
    grid-column: span 2;
}

.az-grid-row > .az-grid-item.xs-span-1
{
    grid-column: span 1;
}

.az-grid-row > .az-grid-item.xs-span-0
{
    grid-column: auto;
}

.az-grid-row > .az-grid-item.xs-start-12
{
    grid-column: 12;
}

.az-grid-row > .az-grid-item.xs-start-11
{
    grid-column: 11;
}

.az-grid-row > .az-grid-item.xs-start-10
{
    grid-column: 10;
}

.az-grid-row > .az-grid-item.xs-start-9
{
    grid-column: 9;
}

.az-grid-row > .az-grid-item.xs-start-8
{
    grid-column: 8;
}

.az-grid-row > .az-grid-item.xs-start-7
{
    grid-column: 7;
}

.az-grid-row > .az-grid-item.xs-start-6
{
    grid-column: 6;
}

.az-grid-row > .az-grid-item.xs-start-5
{
    grid-column: 5;
}

.az-grid-row > .az-grid-item.xs-start-4
{
    grid-column: 4;
}

.az-grid-row > .az-grid-item.xs-start-3
{
    grid-column: 3;
}

.az-grid-row > .az-grid-item.xs-start-2
{
    grid-column: 2;
}

.az-grid-row > .az-grid-item.xs-start-1
{
    grid-column: 1;
}

.az-grid-row > .az-grid-item.xs-start-0
{
    grid-column: auto;
}

.az-grid-row > .az-grid-item.xs-visible
{
    display: block;
}

.az-grid-row > .az-grid-item.xs-hidden
{
    display: none;
}

/* Size SM ----*/
@media (min-width: 576px)
{
    .az-grid-row.sm-12
    {
        grid-template-columns: repeat(12, 1fr);
    }

    .az-grid-row.sm-11
    {
        grid-template-columns: repeat(11, 1fr);
    }

    .az-grid-row.sm-10
    {
        grid-template-columns: repeat(10, 1fr);
    }

    .az-grid-row.sm-9
    {
        grid-template-columns: repeat(9, 1fr);
    }

    .az-grid-row.sm-8
    {
        grid-template-columns: repeat(8, 1fr);
    }

    .az-grid-row.sm-7
    {
        grid-template-columns: repeat(7, 1fr);
    }

    .az-grid-row.sm-6
    {
        grid-template-columns: repeat(6, 1fr);
    }

    .az-grid-row.sm-5
    {
        grid-template-columns: repeat(5, 1fr);
    }

    .az-grid-row.sm-4
    {
        grid-template-columns: repeat(4, 1fr);
    }

    .az-grid-row.sm-3
    {
        grid-template-columns: repeat(3, 1fr);
    }

    .az-grid-row.sm-2
    {
        grid-template-columns: repeat(2, 1fr);
    }

    .az-grid-row.sm-1
    {
        grid-template-columns: repeat(1, 1fr);
    }

    .az-grid-row > .az-grid-item.sm-order-12
    {
        order: 12;
    }

    .az-grid-row > .az-grid-item.sm-order-11
    {
        order: 11;
    }

    .az-grid-row > .az-grid-item.sm-order-10
    {
        order: 10;
    }

    .az-grid-row > .az-grid-item.sm-order-9
    {
        order: 9;
    }

    .az-grid-row > .az-grid-item.sm-order-8
    {
        order: 8;
    }

    .az-grid-row > .az-grid-item.sm-order-7
    {
        order: 7;
    }

    .az-grid-row > .az-grid-item.sm-order-6
    {
        order: 6;
    }

    .az-grid-row > .az-grid-item.sm-order-5
    {
        order: 5;
    }

    .az-grid-row > .az-grid-item.sm-order-4
    {
        order: 4;
    }

    .az-grid-row > .az-grid-item.sm-order-3
    {
        order: 3;
    }

    .az-grid-row > .az-grid-item.sm-order-2
    {
        order: 2;
    }

    .az-grid-row > .az-grid-item.sm-order-1
    {
        order: 1;
    }

    .az-grid-row > .az-grid-item.sm-span-12
    {
        grid-column: span 12;
    }

    .az-grid-row > .az-grid-item.sm-span-11
    {
        grid-column: span 11;
    }

    .az-grid-row > .az-grid-item.sm-span-10
    {
        grid-column: span 10;
    }

    .az-grid-row > .az-grid-item.sm-span-9
    {
        grid-column: span 9;
    }

    .az-grid-row > .az-grid-item.sm-span-8
    {
        grid-column: span 8;
    }

    .az-grid-row > .az-grid-item.sm-span-7
    {
        grid-column: span 7;
    }

    .az-grid-row > .az-grid-item.sm-span-6
    {
        grid-column: span 6;
    }

    .az-grid-row > .az-grid-item.sm-span-5
    {
        grid-column: span 5;
    }

    .az-grid-row > .az-grid-item.sm-span-4
    {
        grid-column: span 4;
    }

    .az-grid-row > .az-grid-item.sm-span-3
    {
        grid-column: span 3;
    }

    .az-grid-row > .az-grid-item.sm-span-2
    {
        grid-column: span 2;
    }

    .az-grid-row > .az-grid-item.sm-span-1
    {
        grid-column: span 1;
    }

    .az-grid-row > .az-grid-item.sm-span-0
    {
        grid-column: auto;
    }

    .az-grid-row > .az-grid-item.sm-start-12
    {
        grid-column: 12;
    }

    .az-grid-row > .az-grid-item.sm-start-11
    {
        grid-column: 11;
    }

    .az-grid-row > .az-grid-item.sm-start-10
    {
        grid-column: 10;
    }

    .az-grid-row > .az-grid-item.sm-start-9
    {
        grid-column: 9;
    }

    .az-grid-row > .az-grid-item.sm-start-8
    {
        grid-column: 8;
    }

    .az-grid-row > .az-grid-item.sm-start-7
    {
        grid-column: 7;
    }

    .az-grid-row > .az-grid-item.sm-start-6
    {
        grid-column: 6;
    }

    .az-grid-row > .az-grid-item.sm-start-5
    {
        grid-column: 5;
    }

    .az-grid-row > .az-grid-item.sm-start-4
    {
        grid-column: 4;
    }

    .az-grid-row > .az-grid-item.sm-start-3
    {
        grid-column: 3;
    }

    .az-grid-row > .az-grid-item.sm-start-2
    {
        grid-column: 2;
    }

    .az-grid-row > .az-grid-item.sm-start-1
    {
        grid-column: 1;
    }

    .az-grid-row > .az-grid-item.sm-start-0
    {
        grid-column: auto;
    }

    .az-grid-row > .az-grid-item.xs-hidden.sm-visible
    {
        display: block;
    }

    .az-grid-row > .az-grid-item.sm-hidden
    {
        display: none;
    }
}

/* Size MD ----*/
@media (min-width: 768px)
{
    .az-grid-row.md-12
    {
        grid-template-columns: repeat(12, 1fr);
    }

    .az-grid-row.md-11
    {
        grid-template-columns: repeat(11, 1fr);
    }

    .az-grid-row.md-10
    {
        grid-template-columns: repeat(10, 1fr);
    }

    .az-grid-row.md-9
    {
        grid-template-columns: repeat(9, 1fr);
    }

    .az-grid-row.md-8
    {
        grid-template-columns: repeat(8, 1fr);
    }

    .az-grid-row.md-7
    {
        grid-template-columns: repeat(7, 1fr);
    }

    .az-grid-row.md-6
    {
        grid-template-columns: repeat(6, 1fr);
    }

    .az-grid-row.md-5
    {
        grid-template-columns: repeat(5, 1fr);
    }

    .az-grid-row.md-4
    {
        grid-template-columns: repeat(4, 1fr);
    }

    .az-grid-row.md-3
    {
        grid-template-columns: repeat(3, 1fr);
    }

    .az-grid-row.md-2
    {
        grid-template-columns: repeat(2, 1fr);
    }

    .az-grid-row.md-1
    {
        grid-template-columns: repeat(1, 1fr);
    }

    .az-grid-row > .az-grid-item.md-order-12
    {
        order: 12;
    }

    .az-grid-row > .az-grid-item.md-order-11
    {
        order: 11;
    }

    .az-grid-row > .az-grid-item.md-order-10
    {
        order: 10;
    }

    .az-grid-row > .az-grid-item.md-order-9
    {
        order: 9;
    }

    .az-grid-row > .az-grid-item.md-order-8
    {
        order: 8;
    }

    .az-grid-row > .az-grid-item.md-order-7
    {
        order: 7;
    }

    .az-grid-row > .az-grid-item.md-order-6
    {
        order: 6;
    }

    .az-grid-row > .az-grid-item.md-order-5
    {
        order: 5;
    }

    .az-grid-row > .az-grid-item.md-order-4
    {
        order: 4;
    }

    .az-grid-row > .az-grid-item.md-order-3
    {
        order: 3;
    }

    .az-grid-row > .az-grid-item.md-order-2
    {
        order: 2;
    }

    .az-grid-row > .az-grid-item.md-order-1
    {
        order: 1;
    }

    .az-grid-row > .az-grid-item.md-span-12
    {
        grid-column: span 12;
    }

    .az-grid-row > .az-grid-item.md-span-11
    {
        grid-column: span 11;
    }

    .az-grid-row > .az-grid-item.md-span-10
    {
        grid-column: span 10;
    }

    .az-grid-row > .az-grid-item.md-span-9
    {
        grid-column: span 9;
    }

    .az-grid-row > .az-grid-item.md-span-8
    {
        grid-column: span 8;
    }

    .az-grid-row > .az-grid-item.md-span-7
    {
        grid-column: span 7;
    }

    .az-grid-row > .az-grid-item.md-span-6
    {
        grid-column: span 6;
    }

    .az-grid-row > .az-grid-item.md-span-5
    {
        grid-column: span 5;
    }

    .az-grid-row > .az-grid-item.md-span-4
    {
        grid-column: span 4;
    }

    .az-grid-row > .az-grid-item.md-span-3
    {
        grid-column: span 3;
    }

    .az-grid-row > .az-grid-item.md-span-2
    {
        grid-column: span 2;
    }

    .az-grid-row > .az-grid-item.md-span-1
    {
        grid-column: span 1;
    }

    .az-grid-row > .az-grid-item.md-span-0
    {
        grid-column: auto;
    }

    .az-grid-row > .az-grid-item.md-start-12
    {
        grid-column: 12;
    }

    .az-grid-row > .az-grid-item.md-start-11
    {
        grid-column: 11;
    }

    .az-grid-row > .az-grid-item.md-start-10
    {
        grid-column: 10;
    }

    .az-grid-row > .az-grid-item.md-start-9
    {
        grid-column: 9;
    }

    .az-grid-row > .az-grid-item.md-start-8
    {
        grid-column: 8;
    }

    .az-grid-row > .az-grid-item.md-start-7
    {
        grid-column: 7;
    }

    .az-grid-row > .az-grid-item.md-start-6
    {
        grid-column: 6;
    }

    .az-grid-row > .az-grid-item.md-start-5
    {
        grid-column: 5;
    }

    .az-grid-row > .az-grid-item.md-start-4
    {
        grid-column: 4;
    }

    .az-grid-row > .az-grid-item.md-start-3
    {
        grid-column: 3;
    }

    .az-grid-row > .az-grid-item.md-start-2
    {
        grid-column: 2;
    }

    .az-grid-row > .az-grid-item.md-start-1
    {
        grid-column: 1;
    }

    .az-grid-row > .az-grid-item.md-start-0
    {
        grid-column: auto;
    }

    .az-grid-row > .az-grid-item.xs-hidden.md-visible,
    .az-grid-row > .az-grid-item.sm-hidden.md-visible
    {
        display: block;
    }

    .az-grid-row > .az-grid-item.md-hidden
    {
        display: none;
    }
}

/* Size LG ----*/
@media (min-width: 992px)
{
    .az-grid-row.lg-12
    {
        grid-template-columns: repeat(12, 1fr);
    }

    .az-grid-row.lg-11
    {
        grid-template-columns: repeat(11, 1fr);
    }

    .az-grid-row.lg-10
    {
        grid-template-columns: repeat(10, 1fr);
    }

    .az-grid-row.lg-9
    {
        grid-template-columns: repeat(9, 1fr);
    }

    .az-grid-row.lg-8
    {
        grid-template-columns: repeat(8, 1fr);
    }

    .az-grid-row.lg-7
    {
        grid-template-columns: repeat(7, 1fr);
    }

    .az-grid-row.lg-6
    {
        grid-template-columns: repeat(6, 1fr);
    }

    .az-grid-row.lg-5
    {
        grid-template-columns: repeat(5, 1fr);
    }

    .az-grid-row.lg-4
    {
        grid-template-columns: repeat(4, 1fr);
    }

    .az-grid-row.lg-3
    {
        grid-template-columns: repeat(3, 1fr);
    }

    .az-grid-row.lg-2
    {
        grid-template-columns: repeat(2, 1fr);
    }

    .az-grid-row.lg-1
    {
        grid-template-columns: repeat(1, 1fr);
    }

    .az-grid-row > .az-grid-item.lg-order-12
    {
        order: 12;
    }

    .az-grid-row > .az-grid-item.lg-order-11
    {
        order: 11;
    }

    .az-grid-row > .az-grid-item.lg-order-10
    {
        order: 10;
    }

    .az-grid-row > .az-grid-item.lg-order-9
    {
        order: 9;
    }

    .az-grid-row > .az-grid-item.lg-order-8
    {
        order: 8;
    }

    .az-grid-row > .az-grid-item.lg-order-7
    {
        order: 7;
    }

    .az-grid-row > .az-grid-item.lg-order-6
    {
        order: 6;
    }

    .az-grid-row > .az-grid-item.lg-order-5
    {
        order: 5;
    }

    .az-grid-row > .az-grid-item.lg-order-4
    {
        order: 4;
    }

    .az-grid-row > .az-grid-item.lg-order-3
    {
        order: 3;
    }

    .az-grid-row > .az-grid-item.lg-order-2
    {
        order: 2;
    }

    .az-grid-row > .az-grid-item.lg-order-1
    {
        order: 1;
    }

    .az-grid-row > .az-grid-item.lg-span-12
    {
        grid-column: span 12;
    }

    .az-grid-row > .az-grid-item.lg-span-11
    {
        grid-column: span 11;
    }

    .az-grid-row > .az-grid-item.lg-span-10
    {
        grid-column: span 10;
    }

    .az-grid-row > .az-grid-item.lg-span-9
    {
        grid-column: span 9;
    }

    .az-grid-row > .az-grid-item.lg-span-8
    {
        grid-column: span 8;
    }

    .az-grid-row > .az-grid-item.lg-span-7
    {
        grid-column: span 7;
    }

    .az-grid-row > .az-grid-item.lg-span-6
    {
        grid-column: span 6;
    }

    .az-grid-row > .az-grid-item.lg-span-5
    {
        grid-column: span 5;
    }

    .az-grid-row > .az-grid-item.lg-span-4
    {
        grid-column: span 4;
    }

    .az-grid-row > .az-grid-item.lg-span-3
    {
        grid-column: span 3;
    }

    .az-grid-row > .az-grid-item.lg-span-2
    {
        grid-column: span 2;
    }

    .az-grid-row > .az-grid-item.lg-span-1
    {
        grid-column: span 1;
    }

    .az-grid-row > .az-grid-item.lg-span-0
    {
        grid-column: auto;
    }

    .az-grid-row > .az-grid-item.lg-start-12
    {
        grid-column: 12;
    }

    .az-grid-row > .az-grid-item.lg-start-11
    {
        grid-column: 11;
    }

    .az-grid-row > .az-grid-item.lg-start-10
    {
        grid-column: 10;
    }

    .az-grid-row > .az-grid-item.lg-start-9
    {
        grid-column: 9;
    }

    .az-grid-row > .az-grid-item.lg-start-8
    {
        grid-column: 8;
    }

    .az-grid-row > .az-grid-item.lg-start-7
    {
        grid-column: 7;
    }

    .az-grid-row > .az-grid-item.lg-start-6
    {
        grid-column: 6;
    }

    .az-grid-row > .az-grid-item.lg-start-5
    {
        grid-column: 5;
    }

    .az-grid-row > .az-grid-item.lg-start-4
    {
        grid-column: 4;
    }

    .az-grid-row > .az-grid-item.lg-start-3
    {
        grid-column: 3;
    }

    .az-grid-row > .az-grid-item.lg-start-2
    {
        grid-column: 2;
    }

    .az-grid-row > .az-grid-item.lg-start-1
    {
        grid-column: 1;
    }

    .az-grid-row > .az-grid-item.lg-start-0
    {
        grid-column: auto;
    }

    .az-grid-row > .az-grid-item.xs-hidden.lg-visible,
    .az-grid-row > .az-grid-item.sm-hidden.lg-visible,
    .az-grid-row > .az-grid-item.md-hidden.lg-visible
    {
        display: block;
    }

    .az-grid-row > .az-grid-item.lg-hidden
    {
        display: none;
    }
}

/* Size XL ----*/
@media (min-width: 1366px)
{
    .az-grid-row.xl-12
    {
        grid-template-columns: repeat(12, 1fr);
    }

    .az-grid-row.xl-11
    {
        grid-template-columns: repeat(11, 1fr);
    }

    .az-grid-row.xl-10
    {
        grid-template-columns: repeat(10, 1fr);
    }

    .az-grid-row.xl-9
    {
        grid-template-columns: repeat(9, 1fr);
    }

    .az-grid-row.xl-8
    {
        grid-template-columns: repeat(8, 1fr);
    }

    .az-grid-row.xl-7
    {
        grid-template-columns: repeat(7, 1fr);
    }

    .az-grid-row.xl-6
    {
        grid-template-columns: repeat(6, 1fr);
    }

    .az-grid-row.xl-5
    {
        grid-template-columns: repeat(5, 1fr);
    }

    .az-grid-row.xl-4
    {
        grid-template-columns: repeat(4, 1fr);
    }

    .az-grid-row.xl-3
    {
        grid-template-columns: repeat(3, 1fr);
    }

    .az-grid-row.xl-2
    {
        grid-template-columns: repeat(2, 1fr);
    }

    .az-grid-row.xl-1
    {
        grid-template-columns: repeat(1, 1fr);
    }

    .az-grid-row > .az-grid-item.xl-order-12
    {
        order: 12;
    }

    .az-grid-row > .az-grid-item.xl-order-11
    {
        order: 11;
    }

    .az-grid-row > .az-grid-item.xl-order-10
    {
        order: 10;
    }

    .az-grid-row > .az-grid-item.xl-order-9
    {
        order: 9;
    }

    .az-grid-row > .az-grid-item.xl-order-8
    {
        order: 8;
    }

    .az-grid-row > .az-grid-item.xl-order-7
    {
        order: 7;
    }

    .az-grid-row > .az-grid-item.xl-order-6
    {
        order: 6;
    }

    .az-grid-row > .az-grid-item.xl-order-5
    {
        order: 5;
    }

    .az-grid-row > .az-grid-item.xl-order-4
    {
        order: 4;
    }

    .az-grid-row > .az-grid-item.xl-order-3
    {
        order: 3;
    }

    .az-grid-row > .az-grid-item.xl-order-2
    {
        order: 2;
    }

    .az-grid-row > .az-grid-item.xl-order-1
    {
        order: 1;
    }

    .az-grid-row > .az-grid-item.xl-span-12
    {
        grid-column: span 12;
    }

    .az-grid-row > .az-grid-item.xl-span-11
    {
        grid-column: span 11;
    }

    .az-grid-row > .az-grid-item.xl-span-10
    {
        grid-column: span 10;
    }

    .az-grid-row > .az-grid-item.xl-span-9
    {
        grid-column: span 9;
    }

    .az-grid-row > .az-grid-item.xl-span-8
    {
        grid-column: span 8;
    }

    .az-grid-row > .az-grid-item.xl-span-7
    {
        grid-column: span 7;
    }

    .az-grid-row > .az-grid-item.xl-span-6
    {
        grid-column: span 6;
    }

    .az-grid-row > .az-grid-item.xl-span-5
    {
        grid-column: span 5;
    }

    .az-grid-row > .az-grid-item.xl-span-4
    {
        grid-column: span 4;
    }

    .az-grid-row > .az-grid-item.xl-span-3
    {
        grid-column: span 3;
    }

    .az-grid-row > .az-grid-item.xl-span-2
    {
        grid-column: span 2;
    }

    .az-grid-row > .az-grid-item.xl-span-1
    {
        grid-column: span 1;
    }

    .az-grid-row > .az-grid-item.xl-span-0
    {
        grid-column: auto;
    }

    .az-grid-row > .az-grid-item.xl-start-12
    {
        grid-column: 12;
    }

    .az-grid-row > .az-grid-item.xl-start-11
    {
        grid-column: 11;
    }

    .az-grid-row > .az-grid-item.xl-start-10
    {
        grid-column: 10;
    }

    .az-grid-row > .az-grid-item.xl-start-9
    {
        grid-column: 9;
    }

    .az-grid-row > .az-grid-item.xl-start-8
    {
        grid-column: 8;
    }

    .az-grid-row > .az-grid-item.xl-start-7
    {
        grid-column: 7;
    }

    .az-grid-row > .az-grid-item.xl-start-6
    {
        grid-column: 6;
    }

    .az-grid-row > .az-grid-item.xl-start-5
    {
        grid-column: 5;
    }

    .az-grid-row > .az-grid-item.xl-start-4
    {
        grid-column: 4;
    }

    .az-grid-row > .az-grid-item.xl-start-3
    {
        grid-column: 3;
    }

    .az-grid-row > .az-grid-item.xl-start-2
    {
        grid-column: 2;
    }

    .az-grid-row > .az-grid-item.xl-start-1
    {
        grid-column: 1;
    }

    .az-grid-row > .az-grid-item.xl-start-0
    {
        grid-column: auto;
    }

    .az-grid-row > .az-grid-item.xs-hidden.xl-visible,
    .az-grid-row > .az-grid-item.sm-hidden.xl-visible,
    .az-grid-row > .az-grid-item.md-hidden.xl-visible,
    .az-grid-row > .az-grid-item.lg-hidden.xl-visible
    {
        display: block;
    }

    .az-grid-row > .az-grid-item.xl-hidden
    {
        display: none;
    }
}