.input-error
{
    border-bottom: 1px solid #FF0000 !important;
}
/* Form Group */
.az-form-group
{
    position: relative;
    margin: 4px;
}

    .az-form-group.xs
    {
        margin: 3px;
    }

    .az-form-group.sm
    {
        margin: 5px;
    }

    .az-form-group.md
    {
        margin: 6px;
    }

    /* Input Group Addon */
    .az-form-group .az-input-group
    {
        display: table;
    }

    .az-form-group .az-input-group-addon
    {
        display: table-cell;
        width: 1%;
        padding: 0 9px 0 9px;
        vertical-align: middle;
        line-height: 1;
        text-align: center;
        border: 1px solid #BBBBBB;
        background-color: #DDDDDD;
    }

        .az-form-group .az-input-group-addon.xs
        {
            padding: 0 8px 0 8px;
            font-size: 0.85em;
        }

        .az-form-group .az-input-group-addon.sm
        {
            padding: 0 10px 0 10px;
            font-size: 1.4em;
        }

        .az-form-group .az-input-group-addon.md
        {
            padding: 0 11px 0 11px;
            font-size: 1.7em;
        }

    /* Input Standard */
    .az-form-group .az-input
    {
        width: 100%;
        height: 30px;
        padding: 0 7px 0 7px;
        box-sizing: border-box;
        -webkit-transition: -webkit-box-shadow ease-in-out .15s;
        -moz-transition: box-shadow ease-in-out .15s;
        -o-transition: box-shadow ease-in-out .15s;
        transition: box-shadow ease-in-out .15s;
        border: 1px solid #BBBBBB;
        background-color: #FFFFFF;
    }

        .az-form-group .az-input.xs
        {
            height: 25px;
            padding: 0 6px 0 6px;
            font-size: 0.85em;
        }

        .az-form-group .az-input.sm
        {
            height: 35px;
            padding: 0 8px 0 8px;
            font-size: 1.1em;
        }

        .az-form-group .az-input.md
        {
            height: 40px;
            padding: 0 9px 0 9px;
            font-size: 1.2em;
        }

        .az-form-group .az-input.az-round
        {
            border-radius: 4px;
            padding: 0 10px 0 10px;
        }

            .az-form-group .az-input.az-round.xs
            {
                border-radius: 4px;
                padding: 0 9px 0 9px;
            }

            .az-form-group .az-input.az-round.sm
            {
                border-radius: 4px;
                padding: 0 11px 0 11px;
            }

            .az-form-group .az-input.az-round.md
            {
                border-radius: 4px;
                padding: 0 12px 0 12px;
            }

        .az-form-group .az-input:focus
        {
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
        }

    .az-form-group .az-label
    {
        opacity: 0.7;
    }

        .az-form-group .az-label.xs
        {
            font-size: 0.85em;
        }

        .az-form-group .az-label.sm
        {
            font-size: 1.1em;
        }

        .az-form-group .az-label.md
        {
            font-size: 1.2em;
        }


    .az-form-group .az-input-icons
    {
        cursor: pointer;
    }

    .az-form-group .az-input ~ .az-input-icons i
    {
        position: relative;
        float: right;
        margin: -22px 9px 0 0;
    }

    .az-form-group .az-input.xs ~ .az-input-icons i
    {
        margin: -18px 9px 0 0;
        font-size: 11px;
    }

    .az-form-group .az-input.sm ~ .az-input-icons i
    {
        margin: -24px 9px 0 0;
        font-size: 15px;
    }

    .az-form-group .az-input.md ~ .az-input-icons i
    {
        margin: -28px 9px 0 0;
        font-size: 17px;
    }

    .az-form-group .az-textarea
    {
        width: 100%;
        padding: 0 7px 0 7px;
        line-height: 1.50;
        box-sizing: border-box;
        resize: none;
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        border: 1px solid #BBBBBB;
        background-color: #FFFFFF;
    }

        .az-form-group .az-textarea.xs
        {
            padding: 0 6px 0 6px;
            line-height: 1.25;
            font-size: 0.85em;
        }

        .az-form-group .az-textarea.sm
        {
            padding: 0 8px 0 8px;
            line-height: 1.60;
            font-size: 1.1em;
        }

        .az-form-group .az-textarea.md
        {
            padding: 0 9px 0 9px;
            line-height: 1.70;
            font-size: 1.2em;
        }

        .az-form-group .az-textarea.az-round
        {
            border-radius: 4px;
            padding: 0 10px 0 10px;
        }

            .az-form-group .az-textarea.az-round.xs
            {
                border-radius: 4px;
                padding: 0 9px 0 9px;
            }

            .az-form-group .az-textarea.az-round.sm
            {
                border-radius: 4px;
                padding: 0 11px 0 11px;
            }

            .az-form-group .az-textarea.az-round.md
            {
                border-radius: 4px;
                padding: 0 12px 0 12px;
            }

        .az-form-group .az-textarea:focus
        {
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
        }

    .az-form-group .az-select
    {
        width: 100%;
        height: 30px;
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -moz-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        border: 1px solid #BBBBBB;
        background-color: #FFFFFF;
    }

        .az-form-group .az-select.xs
        {
            height: 25px;
            font-size: 0.85em;
        }

        .az-form-group .az-select.sm
        {
            height: 35px;
            font-size: 1.1em;
        }

        .az-form-group .az-select.md
        {
            height: 40px;
            font-size: 1.2em;
        }

        .az-form-group .az-select.az-round
        {
            border-radius: 4px;
        }

            .az-form-group .az-select.az-round.xs
            {
                border-radius: 4px;
            }

            .az-form-group .az-select.az-round.sm
            {
                border-radius: 4px;
            }

            .az-form-group .az-select.az-round.md
            {
                border-radius: 4px;
            }

        .az-form-group .az-select:focus
        {
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
        }

    .az-form-group .az-checkbox, .az-form-group .az-radio
    {
        position: relative;
        cursor: pointer;
        width: 20px;
        height: 20px;
        top: 5px;
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -moz-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

        .az-form-group .az-checkbox.xs, .az-form-group .az-radio.xs
        {
            width: 15px;
            height: 15px;
            top: 3px;
        }

        .az-form-group .az-checkbox.sm, .az-form-group .az-radio.sm
        {
            width: 25px;
            height: 25px;
            top: 7px;
        }

        .az-form-group .az-checkbox.md, .az-form-group .az-radio.md
        {
            width: 30px;
            height: 30px;
            top: 9px;
        }

        .az-form-group .az-checkbox:focus, .az-form-group .az-radio:focus
        {
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
        }

    /* Input Spinner */
    .az-form-group .az-input-spinner
    {
        width: 100%;
        height: 30px;
        padding: 0 7px 0 7px;
        box-sizing: border-box;
        text-align: center;
        border: 1px solid #BBBBBB;
        background-color: #FFFFFF;
    }

        .az-form-group .az-input-spinner.xs
        {
            height: 25px;
            padding: 0 6px 0 6px;
            font-size: 0.85em;
        }

        .az-form-group .az-input-spinner.sm
        {
            height: 35px;
            padding: 0 8px 0 8px;
            font-size: 1.1em;
        }

        .az-form-group .az-input-spinner.md
        {
            height: 40px;
            padding: 0 9px 0 9px;
            font-size: 1.2em;
        }

        .az-form-group .az-input-spinner.az-round
        {
            border-radius: 4px;
            padding: 0 10px 0 10px;
        }

            .az-form-group .az-input-spinner.az-round.xs
            {
                border-radius: 4px;
                padding: 0 9px 0 9px;
            }

            .az-form-group .az-input-spinner.az-round.sm
            {
                border-radius: 4px;
                padding: 0 11px 0 11px;
            }

            .az-form-group .az-input-spinner.az-round.md
            {
                border-radius: 4px;
                padding: 0 12px 0 12px;
            }

        .az-form-group .az-input-spinner:focus
        {
            outline: 0;
        }

    .az-form-group .az-input-group .az-spinner-decrement,
    .az-form-group .az-input-group .az-spinner-increment
    {
        cursor: pointer;
    }

    /* Toggle Switch */
    .az-form-group .az-switch
    {
        position: relative;
        display: inline-block;
        width: 36px;
        height: 20px;
    }

        .az-form-group .az-switch ~ .az-label
        {
            position: relative;
            top: 2px;
        }

        .az-form-group .az-switch.xs
        {
            width: 28px;
            height: 15px;
            top: 3px;
        }

        .az-form-group .az-switch.sm
        {
            width: 44px;
            height: 25px;
            top: -3px;
        }

        .az-form-group .az-switch.md
        {
            width: 52px;
            height: 30px;
            top: -7px;
        }

        .az-form-group .az-switch input
        {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .az-form-group .az-switch .az-slider
        {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            -webkit-transition: .4s;
            -moz-transition: .4s;
            -o-transition: .4s;
            transition: .4s;
            background-color: #CCCCCC;
        }

            .az-form-group .az-switch .az-slider:before
            {
                position: absolute;
                content: "";
                height: 16px;
                width: 16px;
                left: 2px;
                bottom: 2px;
                -webkit-transition: .4s;
                -moz-transition: .4s;
                -o-transition: .4s;
                transition: .4s;
                background-color: #FFFFFF;
            }

        .az-form-group .az-switch.xs .az-slider.xs:before
        {
            height: 13px;
            width: 13px;
            left: 1px;
            bottom: 1px;
        }

        .az-form-group .az-switch.sm .az-slider.sm:before
        {
            height: 19px;
            width: 19px;
            left: 3px;
            bottom: 3px;
        }

        .az-form-group .az-switch.md .az-slider.md:before
        {
            height: 22px;
            width: 22px;
            left: 4px;
            bottom: 4px;
        }

        .az-form-group .az-switch input:checked + .az-slider
        {
            background-color: var(--primary-background-color);
        }

            .az-form-group .az-switch input:checked + .az-slider:before
            {
                -webkit-transform: translateX(16px);
                -moz-transform: translateX(16px);
                -ms-transform: translateX(16px);
                -o-transform: translateX(16px);
                transform: translateX(16px);
            }

        .az-form-group .az-switch.xs input:checked + .az-slider.xs:before
        {
            -webkit-transform: translateX(13px);
            -moz-transform: translateX(13px);
            -ms-transform: translateX(13px);
            -o-transform: translateX(13px);
            transform: translateX(13px);
        }

        .az-form-group .az-switch.sm input:checked + .az-slider.sm:before
        {
            -webkit-transform: translateX(19px);
            -moz-transform: translateX(19px);
            -ms-transform: translateX(19px);
            -o-transform: translateX(19px);
            transform: translateX(19px);
        }

        .az-form-group .az-switch.md input:checked + .az-slider.md:before
        {
            -webkit-transform: translateX(22px);
            -moz-transform: translateX(22px);
            -ms-transform: translateX(22px);
            -o-transform: translateX(22px);
            transform: translateX(22px);
        }

        /* Rounded Toggle Switch */
        .az-form-group .az-switch .az-slider.az-round
        {
            border-radius: 50px;
        }

            .az-form-group .az-switch .az-slider.az-round:before
            {
                border-radius: 50%;
            }

    /* Range (Slider) */
    .az-form-group .az-range
    {
        -webkit-appearance: none;
        width: 100%;
        border-radius: 50px !important;
        background-color: #DEDEDE;
    }

        .az-form-group .az-range:focus
        {
            outline: none;
        }

        .az-form-group .az-range::-webkit-slider-runnable-track
        {
            height: 20px;
            background-color: #CCCCCC;
        }

        .az-form-group .az-range.xs::-webkit-slider-runnable-track
        {
            height: 15px;
        }

        .az-form-group .az-range.sm::-webkit-slider-runnable-track
        {
            height: 25px;
        }

        .az-form-group .az-range.md::-webkit-slider-runnable-track
        {
            height: 30px;
        }

        .az-form-group .az-range.az-round::-webkit-slider-runnable-track
        {
            border-radius: 50px !important;
        }

        .az-form-group .az-range.az-round.xs::-webkit-slider-runnable-track
        {
            border-radius: 50px !important;
        }

        .az-form-group .az-range.az-round.sm::-webkit-slider-runnable-track
        {
            border-radius: 50px !important;
        }

        .az-form-group .az-range.az-round.md::-webkit-slider-runnable-track
        {
            border-radius: 50px !important;
        }

        .az-form-group .az-range::-ms-track
        {
            height: 10px;
            background-color: #CCCCCC;
        }

        .az-form-group .az-range.xs::-ms-track
        {
            height: 5px;
        }

        .az-form-group .az-range.sm::-ms-track
        {
            height: 15px;
        }

        .az-form-group .az-range.md::-ms-track
        {
            height: 20px;
        }

        .az-form-group .az-range.az-round::-ms-track
        {
            border-radius: 50px !important;
        }

        .az-form-group .az-range.az-round.xs::-ms-track
        {
            border-radius: 50px !important;
        }

        .az-form-group .az-range.az-round.sm::-ms-track
        {
            border-radius: 50px !important;
        }

        .az-form-group .az-range.az-round.md::-ms-track
        {
            border-radius: 50px !important;
        }

        .az-form-group .az-range::-webkit-slider-thumb
        {
            -webkit-appearance: none;
            width: 20px;
            height: 30px;
            margin-top: -5px;
            cursor: pointer;
            background-color: var(--primary-background-color);
        }

        .az-form-group .az-range.xs::-webkit-slider-thumb
        {
            width: 15px;
            height: 25px;
        }

        .az-form-group .az-range.sm::-webkit-slider-thumb
        {
            width: 25px;
            height: 35px;
        }

        .az-form-group .az-range.md::-webkit-slider-thumb
        {
            width: 30px;
            height: 40px;
        }

        .az-form-group .az-range.az-round::-webkit-slider-thumb
        {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }

        .az-form-group .az-range.az-round.xs::-webkit-slider-thumb
        {
            width: 25px;
            height: 25px;
        }

        .az-form-group .az-range.az-round.sm::-webkit-slider-thumb
        {
            width: 35px;
            height: 35px;
        }

        .az-form-group .az-range.az-round.md::-webkit-slider-thumb
        {
            width: 40px;
            height: 40px;
        }

        .az-form-group .az-range::-ms-thumb
        {
            width: 20px;
            height: 30px;
            cursor: pointer;
            background-color: var(--primary-background-color);
        }

        .az-form-group .az-range.xs::-ms-thumb
        {
            width: 15px;
            height: 25px;
        }

        .az-form-group .az-range.sm::-ms-thumb
        {
            width: 25px;
            height: 35px;
        }

        .az-form-group .az-range.md::-ms-thumb
        {
            width: 30px;
            height: 40px;
        }

        .az-form-group .az-range.az-round::-ms-thumb
        {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }

        .az-form-group .az-range.az-round.xs::-ms-thumb
        {
            width: 25px;
            height: 25px;
        }

        .az-form-group .az-range.az-round.sm::-ms-thumb
        {
            width: 35px;
            height: 35px;
        }

        .az-form-group .az-range.az-round.md::-ms-thumb
        {
            width: 40px;
            height: 40px;
        }

    /* Multi Range (Slider) */
    .az-form-group .az-range-multi
    {
        height: 20px !important;
        border: none !important;
    }

        .az-form-group .az-range-multi .ui-slider-handle:focus
        {
            outline: none;
        }

        .az-form-group .az-range-multi.xs
        {
            height: 15px !important;
        }

        .az-form-group .az-range-multi.sm
        {
            height: 25px !important;
        }

        .az-form-group .az-range-multi.md
        {
            height: 30px !important;
        }

        .az-form-group .az-range-multi.az-round
        {
            border-radius: 10px !important;
        }

            .az-form-group .az-range-multi.az-round.xs
            {
                border-radius: 5px !important;
            }

            .az-form-group .az-range-multi.az-round.sm
            {
                border-radius: 15px !important;
            }

            .az-form-group .az-range-multi.az-round.md
            {
                border-radius: 20px !important;
            }

        .az-form-group .az-range-multi .ui-slider-handle
        {
            width: 20px !important;
            height: 30px !important;
            border: none !important;
            cursor: pointer !important;
        }

        .az-form-group .az-range-multi.xs .ui-slider-handle
        {
            width: 15px !important;
            height: 25px !important;
        }

        .az-form-group .az-range-multi.sm .ui-slider-handle
        {
            width: 25px !important;
            height: 35px !important;
        }

        .az-form-group .az-range-multi.md .ui-slider-handle
        {
            width: 30px !important;
            height: 40px !important;
        }

        .az-form-group .az-range-multi.az-round .ui-slider-handle
        {
            width: 30px !important;
            height: 30px !important;
            border-radius: 50% !important;
        }

        .az-form-group .az-range-multi.az-round.xs .ui-slider-handle
        {
            width: 25px !important;
            height: 25px !important;
        }

        .az-form-group .az-range-multi.az-round.sm .ui-slider-handle
        {
            width: 35px !important;
            height: 35px !important;
        }

        .az-form-group .az-range-multi.az-round.md .ui-slider-handle
        {
            width: 40px !important;
            height: 40px !important;
        }

    /* Buttons */
    .az-form-group .az-button
    {
        display: inline-block;
        outline: 0;
        border: none;
        overflow: hidden;
        vertical-align: middle;
        text-decoration: none;
        text-align: center;
        padding: 8px 16px;
        cursor: pointer;
        white-space: nowrap;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        .az-form-group .az-button.xs
        {
            padding: 5.5px;
            font-size: 0.85em;
        }

        .az-form-group .az-button.sm
        {
            padding: 8.5px;
            font-size: 1.1em;
        }

        .az-form-group .az-button.md
        {
            padding: 10.5px;
            font-size: 1.2em;
        }

        .az-form-group .az-button.az-round
        {
            border-radius: 4px;
        }

            .az-form-group .az-button.az-round.xs
            {
                border-radius: 4px;
            }

            .az-form-group .az-button.az-round.sm
            {
                border-radius: 4px;
            }

            .az-form-group .az-button.az-round.md
            {
                border-radius: 4px;
            }

        .az-form-group .az-button.az-button-block
        {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }

        .az-form-group .az-button.az-circle
        {
            border-radius: 50%;
            min-width: 20px;
            min-height: 20px;
            padding: 7px;
            line-height: 1;
            box-sizing: content-box;
        }

            .az-form-group .az-button.az-circle:before
            {
                content: "";
                display: inline-block;
                vertical-align: middle;
                padding-top: 100%;
                height: 0;
            }

            .az-form-group .az-button.az-circle > i
            {
                vertical-align: middle;
            }

    .az-form-group .az-button-disabled
    {
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
        cursor: default;
    }

    .az-form-group .az-button.outlined-primary
    {
        border: 1px solid var(--primary-background-color);
        background-color: transparent;
        color: var(--default-color);
    }

    .az-form-group .az-button.default
    {
        background-color: var(--default-background-color);
        color: var(--default-color);
    }

    .az-form-group .az-button.default
    {
        background-color: var(--default-background-color);
        color: var(--default-color);
    }

    .az-form-group .az-button.primary
    {
        background-color: var(--primary-background-color);
        color: var(--primary-color);
    }

    .az-form-group .az-button.success
    {
        background-color: var(--success-background-color);
        color: var(--success-color);
    }

    .az-form-group .az-button.info
    {
        background-color: var(--info-background-color);
        color: var(--info-color);
    }

    .az-form-group .az-button.warning
    {
        background-color: var(--warning-background-color);
        color: var(--warning-color);
    }

    .az-form-group .az-button.danger
    {
        background-color: var(--danger-background-color);
        color: var(--danger-color);
    }

    .az-form-group .az-button.link
    {
        background-color: transparent;
        border: none;
    }

        .az-form-group .az-button.link:hover
        {
            text-decoration: underline;
        }

    /* Input Animated */
    .az-form-group .az-input-group-addon-animated
    {
        display: table-cell;
        width: 1%;
        padding: 0 9px 0 9px;
        vertical-align: middle;
        line-height: 1;
        text-align: center;
        background-color: transparent;
    }

        .az-form-group .az-input-group-addon-animated.xs
        {
            padding: 0 8px 0 8px;
            font-size: 0.85em;
        }

        .az-form-group .az-input-group-addon-animated.sm
        {
            padding: 0 10px 0 10px;
            font-size: 1.4em;
        }

        .az-form-group .az-input-group-addon-animated.md
        {
            padding: 0 11px 0 11px;
            font-size: 1.7em;
        }

    .az-form-group .az-input-animated
    {
        position: relative;
        display: block;
        width: 100%;
        height: 27px;
        border: 0;
        border-bottom: 1px solid #CCCCCC !important;
        background-color: transparent;
    }

        .az-form-group .az-input-animated.xs
        {
            height: 22px;
            font-size: 0.85em;
        }

        .az-form-group .az-input-animated.sm
        {
            height: 32px;
            font-size: 1.1em;
        }

        .az-form-group .az-input-animated.md
        {
            height: 37px;
            font-size: 1.2em;
        }

        .az-form-group .az-input-animated:focus
        {
            outline: 0;
            -webkit-animation: input-focus 0.2s 1 forwards;
            -moz-animation: input-focus 0.2s 1 forwards;
            -o-animation: input-focus 0.2s 1 forwards;
            animation: input-focus 0.2s 1 forwards;
            border-bottom: 1px solid #666666 !important;
        }

            .az-form-group .az-input-animated:focus ~ .az-label-animated
            {
                top: -15px;
                opacity: 1;
            }

    .az-form-group .az-label-animated
    {
        position: absolute;
        top: 7px;
        opacity: 0.5;
        -webkit-transition: 0.2s ease top;
        -moz-transition: 0.2s ease top;
        -o-transition: 0.2s ease top;
        transition: 0.2s ease top;
    }

        .az-form-group .az-label-animated.xs
        {
            top: 5px;
            font-size: 0.85em;
        }

        .az-form-group .az-label-animated.sm
        {
            top: 9px;
            font-size: 1.1em;
        }

        .az-form-group .az-label-animated.md
        {
            top: 11px;
            font-size: 1.2em;
        }

    /* Alert */
    .az-form-group .az-alert
    {
        padding: 6px;
        text-align: center;
    }

        .az-form-group .az-alert.xs
        {
            padding: 5px;
            font-size: 0.85em;
        }

        .az-form-group .az-alert.sm
        {
            padding: 7.5px;
            font-size: 1.1em;
        }

        .az-form-group .az-alert.md
        {
            padding: 9px;
            font-size: 1.2em;
        }

        .az-form-group .az-alert.az-round
        {
            border-radius: 4px;
        }

            .az-form-group .az-alert.az-round.xs
            {
                border-radius: 4px;
            }

            .az-form-group .az-alert.az-round.sm
            {
                border-radius: 4px;
            }

            .az-form-group .az-alert.az-round.md
            {
                border-radius: 4px;
            }

    .az-form-group .az-alert-icons:first-child i
    {
        float: left;
        margin: 7px 0 0 9px;
    }

    .az-form-group.xs .az-alert-icons:first-child i
    {
        font-size: 0.85em;
    }

    .az-form-group.sm .az-alert-icons:first-child i
    {
        font-size: 1.4em;
    }

    .az-form-group.md .az-alert-icons:first-child i
    {
        font-size: 1.7em;
    }

    .az-form-group .az-alert-icons:last-child i
    {
        float: right;
        margin: -21px 9px 0 0;
    }

    .az-form-group.xs .az-alert-icons:last-child i
    {
        font-size: 0.85em;
        margin: -17px 9px 0 0;
    }

    .az-form-group.sm .az-alert-icons:last-child i
    {
        font-size: 1.4em;
        margin: -26px 9px 0 0;
    }

    .az-form-group.md .az-alert-icons:last-child i
    {
        font-size: 1.7em;
        margin: -30px 9px 0 0;
    }

    .az-form-group .az-alert-default,
    .az-alert-default
    {
        background-color: var(--default-background-color) !important;
        color: var(--default-color) !important;
    }

    .az-form-group .az-alert-primary,
    .az-alert-primary
    {
        background-color: var(--primary-background-color) !important;
        color: var(--primary-color) !important;
    }

    .az-form-group .az-alert-success,
    .az-alert-success
    {
        background-color: var(--success-background-color) !important;
        color: var(--success-color) !important;
    }

    .az-form-group .az-alert-info,
    .az-alert-info
    {
        background-color: var(--info-background-color) !important;
        color: var(--info-color) !important;
    }

    .az-form-group .az-alert-warning,
    .az-alert-warning
    {
        background-color: var(--warning-background-color) !important;
        color: var(--warning-color) !important;
    }

    .az-form-group .az-alert-danger,
    .az-alert-danger
    {
        background-color: var(--danger-background-color) !important;
        color: var(--danger-color) !important;
    }

/* Dropdown */
.az-dropdown-ul
{
    list-style-type: none;
    padding: 0;
}

.az-dropdown-layout
{
    min-width: 160px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

    .az-dropdown-layout > li
    {
        cursor: pointer;
        border-top: 1px solid #cccccc;
    }

        .az-dropdown-layout > li > a
        {
            display: block;
            padding: 7px;
            color: #000000;
        }

            .az-dropdown-layout > li > a:hover
            {
                background-color: #cccccc;
                color: #FFFFFF;
            }

            .az-dropdown-layout > li > a > i
            {
                margin-right: 14px !important;
            }

.az-dropdown-hover:hover .az-dropdown-content
{
    display: block;
}

.az-dropdown-content
{
    display: none;
    position: absolute;
    z-index: 1;
    list-style-type: none;
    padding: 0;
    cursor: auto;
}

.az-dropdown-display
{
    display: block !important;
}

/* Badge */
.az-form-group .az-badge
{
    display: inline-block;
    min-width: 20px;
    min-height: 20px;
    text-align: center;
    padding: 7px;
    line-height: 1;
    box-sizing: content-box;
    cursor: pointer;
    outline: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

    .az-form-group .az-badge::before
    {
        content: "";
        display: inline-block;
        vertical-align: middle;
        padding-top: 100%;
        height: 0;
    }

    .az-form-group .az-badge.xs
    {
        font-size: 0.85em;
        min-width: 13px;
        min-height: 13px;
    }

    .az-form-group .az-badge.sm
    {
        font-size: 1.1em;
        min-width: 23px;
        min-height: 23px;
    }

    .az-form-group .az-badge.md
    {
        font-size: 1.2em;
        min-width: 28px;
        min-height: 28px;
    }

.az-form-group.az-badge-wrapper
{
    position: relative;
}

.az-form-group .az-badge.az-badge-topleft
{
    position: absolute;
    top: -10px;
    left: -10px;
}

.az-form-group .az-badge.az-badge-topright
{
    position: absolute;
    top: -10px;
    right: -10px;
}

.az-form-group .az-badge.az-badge-bottomleft
{
    position: absolute;
    bottom: -10px;
    left: -10px;
}

.az-form-group .az-badge.az-badge-bottomright
{
    position: absolute;
    bottom: -10px;
    right: -10px;
}

    .az-form-group .az-badge.az-badge-topleft.xs,
    .az-form-group .az-badge.az-badge-topright.xs,
    .az-form-group .az-badge.az-badge-bottomleft.xs,
    .az-form-group .az-badge.az-badge-bottomright.xs
    {
        font-size: 0.85em;
    }

    .az-form-group .az-badge.az-badge-topleft.sm,
    .az-form-group .az-badge.az-badge-topright.sm,
    .az-form-group .az-badge.az-badge-bottomleft.sm,
    .az-form-group .az-badge.az-badge-bottomright.sm
    {
        font-size: 1.1em;
    }

    .az-form-group .az-badge.az-badge-topleft.md,
    .az-form-group .az-badge.az-badge-topright.md,
    .az-form-group .az-badge.az-badge-bottomleft.md,
    .az-form-group .az-badge.az-badge-bottomright.md
    {
        font-size: 1.2em;
    }

/* Cover Spin */
#az-cover-spin
{
    position: fixed;
    z-index: 5000;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.7);
}

    #az-cover-spin > div
    {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        margin-top: 60px;
        font-size: 20px;
    }

    #az-cover-spin::after
    {
        content: '';
        position: absolute;
        display: block;
        z-index: 1;
        left: 50%;
        top: 50%;
        width: 50px;
        height: 50px;
        margin-left: -25px;
        margin-top: -25px;
        border-style: solid;
        border-color: black;
        border-top-color: transparent;
        border-width: 4px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -webkit-animation: cover-spin .8s linear infinite;
        -moz-animation: cover-spin .8s linear infinite;
        -o-animation: cover-spin .8s linear infinite;
        animation: cover-spin .8s linear infinite;
    }

/* Fieldset */
.az-fieldset
{
    border: 1px solid #DDDDDD;
}

    .az-fieldset legend
    {
    }

/* Lable Asterisk */
.az-mandatory-asterisk
{
    color: #FF0000;
}

/* Progress Bar */
.az-form-group .az-progress-bar-hor
{
    width: 100%;
}

    .az-form-group .az-progress-bar-hor > div
    {
        padding: 4px;
    }

        .az-form-group .az-progress-bar-hor > div.xs
        {
            padding: 3px;
            font-size: 0.85em;
        }

        .az-form-group .az-progress-bar-hor > div.sm
        {
            padding: 5px;
            font-size: 1.1em;
        }

        .az-form-group .az-progress-bar-hor > div.md
        {
            padding: 6px;
            font-size: 1.2em;
        }

.az-form-group .az-progress-bar-ver
{
    width: 26px;
}

    .az-form-group .az-progress-bar-ver > div
    {
        padding: 4px;
    }

/* Animations Keyframes */
/* #az-cover-spin::after */
@-webkit-keyframes cover-spin
{
    from
    {
        -webkit-transform: rotate(0deg);
    }

    to
    {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes cover-spin
{
    from
    {
        -moz-transform: rotate(0deg);
    }

    to
    {
        -moz-transform: rotate(360deg);
    }
}

@-ms-keyframes cover-spin
{
    from
    {
        -ms-transform: rotate(0deg);
    }

    to
    {
        -ms-transform: rotate(360deg);
    }
}

@-o-keyframes cover-spin
{
    from
    {
        -o-transform: rotate(0deg);
    }

    to
    {
        -o-transform: rotate(360deg);
    }
}

@keyframes cover-spin
{
    from
    {
        transform: rotate(0deg);
    }

    to
    {
        transform: rotate(360deg);
    }
}

/* .az-input-animated */
@-webkit-keyframes input-focus
{
    0%
    {
        width: 0;
    }

    100%
    {
        width: 100%;
    }
}

@-moz-keyframes input-focus
{
    0%
    {
        width: 0;
    }

    100%
    {
        width: 100%;
    }
}

@-ms-keyframes input-focus
{
    0%
    {
        width: 0;
    }

    100%
    {
        width: 100%;
    }
}

@-o-keyframes input-focus
{
    0%
    {
        width: 0;
    }

    100%
    {
        width: 100%;
    }
}

@keyframes input-focus
{
    0%
    {
        width: 0;
    }

    100%
    {
        width: 100%;
    }
}
