#az-full-window
{
    position: fixed;
    z-index: 4999;
    width: 100%;
    height: 0;
    overflow: hidden;
    opacity: 0;
    background-color: #FFFFFF;
    color: #000000;
}

    #az-full-window.az-window-full
    {
        height: 100%;
    }

#az-full-window-close
{
    cursor: pointer;
    position: absolute;
    top: 50px;
    right: 10px;
    -webkit-transform: translateX(0%, -50%);
    -moz-transform: translateX(0%, -50%);
    -ms-transform: translateX(0%, -50%);
    -o-transform: translateX(0%, -50%);
    transform: translate(0%, -50%);
    padding: 7px 14px;
    font-size: 35px;
}

    #az-full-window-close:hover
    {
        background: #DDDDDD;
    }
