.az-full-window
{
    position: fixed;
    z-index: 4999;
    width: 100%;
    height: 0;
    overflow: hidden;
    opacity: 0;
    background-color: #FFFFFF;
    color: #000000;
}

    .az-full-window.rounded-top
    {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .az-full-window.rounded-bottom
    {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .az-full-window > .az-full-window-titlebar
    {
        display: grid;
        grid-template-columns: 1fr 27px;
        align-items: center;
        border-bottom: 1px solid #BBBBBB;
        height: 49px;
    }

        .az-full-window > .az-full-window-titlebar > h1
        {
            display: inline-block;
            margin: 0 14px 0 14px;
            font-size: 14px;
        }

        .az-full-window > .az-full-window-titlebar > span
        {
            font-size: 14px;
            font-weight: bold;
            cursor: pointer;
        }

            .az-full-window > .az-full-window-titlebar > span:hover
            {
                color: #ff4136;
            }

    .az-full-window > article
    {
        margin: 14px;
        overflow-y: auto;
    }

        .az-full-window > article.overflow
        {
            overflow: hidden;
        }

@media screen and (min-width: 576px)
{
    .az-full-window > article
    {
        scrollbar-width: thin;
    }
}
