.az-navbar-sticky
{
    position: fixed;
    z-index: 5000;
}

.az-navbar
{
    width: 100%;
    overflow: hidden;
}

    .az-navbar.az-navbar-top
    {
        background-color: #000000;
    }

    .az-navbar > .az-navbar-top-content
    {
        width: 100%;
        overflow: hidden;
    }

        .az-navbar > .az-navbar-top-content > .az-navbar-button
        {
            display: none;
            margin: 7px;
            padding: 10px 14px;
            border: 1px solid #FFFFFF;
            background-color: transparent;
            color: #FFFFFF;
        }

        .az-navbar > .az-navbar-top-content > .az-navbar-branding
        {
            height: 46px;
            float: left;
            margin: 2px 7px 2px 7px;
        }

            .az-navbar > .az-navbar-top-content > .az-navbar-branding.mobile-only
            {
                display: none;
            }

        .az-navbar > .az-navbar-top-content > .az-navbar-menu-wrapper
        {
            width: 100%;
        }

            .az-navbar > .az-navbar-top-content > .az-navbar-menu-wrapper > .az-navbar-menu
            {
                list-style-type: none;
                padding: 0;
            }

                .az-navbar > .az-navbar-top-content > .az-navbar-menu-wrapper > .az-navbar-menu > li
                {
                    float: left;
                    cursor: pointer;
                }

                    .az-navbar > .az-navbar-top-content > .az-navbar-menu-wrapper > .az-navbar-menu > li > a
                    {
                        display: block;
                    }

                .az-navbar > .az-navbar-top-content > .az-navbar-menu-wrapper > .az-navbar-menu.az-display-left.mobile-only
                {
                    display: none;
                }

                .az-navbar > .az-navbar-top-content > .az-navbar-menu-wrapper > .az-navbar-menu.az-display-left > li > a
                {
                    line-height: 50px;
                    padding: 0 7px 0 7px;
                    font-size: 16px;
                    color: #FFFFFF;
                }

                .az-navbar > .az-navbar-top-content > .az-navbar-menu-wrapper > .az-navbar-menu.az-display-right.mobile-only
                {
                    display: none;
                }

                .az-navbar > .az-navbar-top-content > .az-navbar-menu-wrapper > .az-navbar-menu.az-display-right > li > a
                {
                    line-height: 50px;
                    padding: 0 7px 0 7px;
                    font-size: 30px;
                    color: #FFFFFF;
                }

                .az-navbar > .az-navbar-top-content > .az-navbar-menu-wrapper > .az-navbar-button:hover,
                .az-navbar > .az-navbar-top-content > .az-navbar-menu-wrapper > .az-navbar-menu > li > a:hover,
                .az-navbar > .az-navbar-bottom-content > .az-navbar-menu > li > a:hover
                {
                    background-color: #FFFFFF;
                    color: #000000;
                }

    .az-navbar.az-navbar-bottom
    {
        bottom: 0;
        background-color: #000000;
    }

        .az-navbar.az-navbar-bottom.mobile-only
        {
            display: none;
        }

    .az-navbar > .az-navbar-bottom-content
    {
        width: 100%;
        overflow: hidden;
    }

        .az-navbar > .az-navbar-bottom-content > .az-navbar-menu
        {
            list-style-type: none;
            padding: 0;
        }

            .az-navbar > .az-navbar-bottom-content > .az-navbar-menu > li
            {
                float: left;
                cursor: pointer;
                width: 25%;
                text-align: center;
            }

                .az-navbar > .az-navbar-bottom-content > .az-navbar-menu > li > a
                {
                    display: block;
                    padding: 7px;
                    color: #FFFFFF;
                    font-size: 18px;
                }

                    .az-navbar > .az-navbar-bottom-content > .az-navbar-menu > li > a > p
                    {
                        font-size: 13px;
                    }

@media (max-width: 576px)
{
    .az-navbar > .az-navbar-top-content > .az-navbar-button
    {
        display: block;
        float: right;
        outline: none;
        cursor: pointer;
    }

    .az-navbar > .az-navbar-top-content > .az-navbar-branding.mobile-only
    {
        display: block;
    }

    .az-navbar > .az-navbar-top-content > .az-navbar-logo.desktop-only
    {
        display: none;
    }

    .az-navbar > .az-navbar-top-content > .az-navbar-menu-wrapper > .az-navbar-menu
    {
        display: none;
    }

    .az-navbar > .az-navbar-top-content.mobile > .az-navbar-menu-wrapper > .az-navbar-menu.az-display-left.mobile-only
    {
        display: block;
    }

    .az-navbar > .az-navbar-top-content.mobile > .az-navbar-menu-wrapper > .az-navbar-menu.az-display-right.mobile-only
    {
        display: block;
    }

    .az-navbar > .az-navbar-top-content.mobile > .az-navbar-menu-wrapper > .az-navbar-menu.az-display-left.desktop-only
    {
        display: none;
    }

    .az-navbar > .az-navbar-top-content.mobile > .az-navbar-menu-wrapper > .az-navbar-menu.az-display-right.desktop-only
    {
        display: none;
    }

    .az-navbar > .az-navbar-top-content.mobile > .az-navbar-menu-wrapper > .az-navbar-menu
    {
        display: block;
        width: 100%;
    }

        .az-navbar > .az-navbar-top-content.mobile > .az-navbar-menu-wrapper > .az-navbar-menu > li
        {
            width: 100%;
        }

        .az-navbar > .az-navbar-top-content.mobile > .az-navbar-menu-wrapper > .az-navbar-menu.az-display-right > li > a > i
        {
            padding: 4px;
        }

    .az-navbar.az-navbar-bottom.mobile-only
    {
        display: block;
    }

    .az-navbar.az-navbar-bottom.desktop-only
    {
        display: none;
    }
}