.az-sidebar-menu
{
    list-style-type: none;
    padding: 0;
}

    .az-sidebar-menu > li
    {
        width: 100%;
        cursor: pointer;
    }

        .az-sidebar-menu > li > a
        {
            display: block;
            padding: 6px;
            font-size: 16px;
            color: #000000;
        }

            .az-sidebar-menu > li > a > i
            {
                margin-right: 14px;
                font-size: 16px;
            }

            .az-sidebar-menu > li > a:hover
            {
                background-color: var(--primary-background-color);
                color: #FFFFFF;
            }

.az-sidebar-filter
{
    list-style-type: none;
    padding: 0;
}

    .az-sidebar-filter > li
    {
        width: 100%;
        margin: 7px;
    }