.az-tabs
{
    display: inline-block;
    width: 100%;
}

    .az-tabs > ul
    {
        list-style-type: none;
        margin: 0;
    }

        .az-tabs > ul::after
        {
            content: "";
            clear: both;
            display: table;
        }

        .az-tabs > ul > li
        {
            float: left;
            border-bottom-width: 0 !important;
            cursor: pointer;
        }

    .az-tabs > .az-tabs-card > article
    {
        display: none;
    }

    .az-tabs.az-tabs-vertical > ul
    {
        float: left;
        width: 20%;
    }

        .az-tabs.az-tabs-vertical > ul > li
        {
            float: none;
        }

    .az-tabs.az-tabs-vertical > .az-tabs-card
    {
        float: left;
        width: 78.5%;
    }
