.az-accordion
{
    display: block;
    position: relative;
}

    .az-accordion > .az-accordion-card
    {
        display: block;
        position: relative;
        overflow: visible;
        white-space: normal;
    }

        .az-accordion > .az-accordion-card > header
        {
            cursor: pointer;
        }

            .az-accordion > .az-accordion-card > header > *
            {
                display: inline-block;
            }

            .az-accordion > .az-accordion-card > header > i
            {
                float: right;
            }

        .az-accordion > .az-accordion-card > article
        {
            display: none;
        }