/* Font Color */
.az-color-default
{
    color: #FFFFFF !important;
}

.az-color-primary
{
    color: #0078D7 !important;
}

.az-color-success
{
    color: #28a745 !important;
}

.az-color-info
{
    color: #0bb2d4 !important;
}

.az-color-warning
{
    color: #FF851B !important;
}

.az-color-danger
{
    color: #FF4136 !important;
}

.az-color-fire-engine
{
    color: #E81123 !important;
}

.az-color-harley-davidson-orange
{
    color: #D83B01 !important;
}

.az-color-selective-yellow
{
    color: #FFB900 !important;
}

.az-color-green
{
    color: #107C10 !important;
}

.az-color-pine-green
{
    color: #008272 !important;
}

.az-color-navy-blue
{
    color: #0078D7 !important;
}

.az-color-kelly-green
{
    color: #5DC21E !important;
}

.az-color-navy
{
    color: #001F3F !important;
}

.az-color-blue
{
    color: #0074D9 !important;
}

.az-color-aqua
{
    color: #7FDBFF !important;
}

.az-color-olive
{
    color: #3D9970 !important;
}

.az-color-lime
{
    color: #01FF70 !important;
}

.az-color-orange
{
    color: #FF851B !important;
}

.az-color-red
{
    color: #FF4136 !important;
}

.az-color-fuchsia
{
    color: #F012BE !important;
}

.az-color-purple
{
    color: #B10DC9 !important;
}

.az-color-maroon
{
    color: #85144B !important;
}

.az-color-white
{
    color: #FFFFFF !important;
}

.az-color-silver
{
    color: #DDDDDD !important;
}

.az-color-gray
{
    color: #AAAAAA !important;
}

.az-color-black
{
    color: #000000 !important;
}

.az-color-teal
{
    color: #009688 !important;
}

.az-color-blue-grey
{
    color: #607d8b !important;
}

/* Backgrounds */
.az-background-default
{
    background-color: #FFFFFF !important;
    color: #000000 !important;
}

.az-background-primary
{
    background-color: #0078D7 !important;
    color: #FFFFFF !important;
}

.az-background-success
{
    background-color: #28a745 !important;
    color: #FFFFFF !important;
}

.az-background-info
{
    background-color: #0bb2d4 !important;
    color: #FFFFFF !important;
}

.az-background-warning
{
    background-color: #FF851B !important;
    color: #FFFFFF !important;
}

.az-background-danger
{
    background-color: #FF4136 !important;
    color: #FFFFFF !important;
}

.az-background-fire-engine
{
	background-color: #E81123 !important;
	color: #FFFFFF !important;
}

.az-background-harley-davidson-orange
{
	background-color: #D83B01 !important;
	color: #FFFFFF !important;
}

.az-background-selective-yellow
{
	background-color: #FFB900 !important;
	color: #000000 !important;
}

.az-background-green
{
	background-color: #107C10 !important;
	color: #FFFFFF !important;
}

.az-background-pine-green
{
	background-color: #008272 !important;
	color: #FFFFFF !important;
}

.az-background-navy-blue
{
	background-color: #0078D7 !important;
	color: #FFFFFF !important;
}

.az-background-kelly-green
{
	background-color: #5DC21E !important;
	color: #FFFFFF !important;
}

.az-background-navy
{
	background-color: #001F3F !important;
	color: #FFFFFF !important;
}

.az-background-blue
{
	background-color: #0074D9 !important;
	color: #FFFFFF !important;
}

.az-background-aqua
{
	background-color: #7FDBFF !important;
	color: #000000 !important;
}

.az-background-olive
{
	background-color: #3D9970 !important;
	color: #FFFFFF !important;
}

.az-background-lime
{
	background-color: #01FF70 !important;
	color: #000000 !important;
}

.az-background-orange
{
	background-color: #FF851B !important;
	color: #000000 !important;
}

.az-background-red
{
	background-color: #FF4136 !important;
	color: #FFFFFF !important;
}

.az-background-fuchsia
{
	background-color: #F012BE !important;
	color: #FFFFFF !important;
}

.az-background-purple
{
	background-color: #B10DC9 !important;
	color: #FFFFFF !important;
}

.az-background-maroon
{
	background-color: #85144B !important;
	color: #FFFFFF !important;
}

.az-background-white
{
	background-color: #FFFFFF !important;
	color: #000000 !important;
}

.az-background-silver
{
    background-color: #DDDDDD !important;
    color: #000000 !important;
}

.az-background-gray
{
	background-color: #AAAAAA !important;
	color: #FFFFFF !important;
}

.az-background-black
{
	background-color: #000000 !important;
	color: #FFFFFF !important;
}

.az-background-teal
{
	background-color: #009688 !important;
	color: #FFFFFF !important;
}

.az-background-blue-grey
{
	background-color: #607d8b !important;
	color: #FFFFFF !important;
}