.az-navbar-sticky
{
    position: fixed;
    z-index: 5000;
}

/* Navbar --------*/
.az-navbar
{
    width: 100%;
    overflow: hidden;
}

    /* Navbar Top*/
    .az-navbar > .az-navbar-top-content
    {
        width: 100%;
        overflow: hidden;
    }

        .az-navbar > .az-navbar-top-content > .az-navbar-button
        {
            display: none;
            float: right;
            outline: none;
            cursor: pointer;
        }

        .az-navbar > .az-navbar-top-content > .az-navbar-branding.mobile-only
        {
            display: none;
        }

        .az-navbar > .az-navbar-top-content > .az-navbar-menu-wrapper
        {
            width: 100%;
        }

            .az-navbar > .az-navbar-top-content > .az-navbar-menu-wrapper > .az-navbar-menu
            {
                list-style-type: none;
                padding: 0;
            }

                .az-navbar > .az-navbar-top-content > .az-navbar-menu-wrapper > .az-navbar-menu > li
                {
                    float: left;
                    cursor: pointer;
                }

                    .az-navbar > .az-navbar-top-content > .az-navbar-menu-wrapper > .az-navbar-menu > li > a
                    {
                        display: block;
                    }

                .az-navbar > .az-navbar-top-content > .az-navbar-menu-wrapper > .az-navbar-menu.az-display-left.mobile-only
                {
                    display: none;
                }

                .az-navbar > .az-navbar-top-content > .az-navbar-menu-wrapper > .az-navbar-menu.az-display-right.mobile-only
                {
                    display: none;
                }

    /* Navbar Bottom*/
    .az-navbar.az-navbar-bottom
    {
        bottom: 0;
    }

        .az-navbar.az-navbar-bottom.mobile-only
        {
            display: none;
        }

    .az-navbar > .az-navbar-bottom-content
    {
        width: 100%;
        overflow: hidden;
    }

        .az-navbar > .az-navbar-bottom-content > .az-navbar-menu
        {
            list-style-type: none;
            padding: 0;
        }

            .az-navbar > .az-navbar-bottom-content > .az-navbar-menu > li
            {
                float: left;
                cursor: pointer;
            }

                .az-navbar > .az-navbar-bottom-content > .az-navbar-menu > li > a
                {
                    display: block;
                }

@media (max-width: 576px)
{
    /* Navbar Top*/
    .az-navbar > .az-navbar-top-content > .az-navbar-button
    {
        display: block;
    }

    .az-navbar > .az-navbar-top-content > .az-navbar-branding.mobile-only
    {
        display: block;
    }

    .az-navbar > .az-navbar-top-content > .az-navbar-logo.desktop-only
    {
        display: none;
    }

    .az-navbar > .az-navbar-top-content > .az-navbar-menu-wrapper > .az-navbar-menu
    {
        display: none;
    }

    .az-navbar > .az-navbar-top-content.mobile > .az-navbar-menu-wrapper > .az-navbar-menu.az-display-left.mobile-only
    {
        display: block;
    }

    .az-navbar > .az-navbar-top-content.mobile > .az-navbar-menu-wrapper > .az-navbar-menu.az-display-right.mobile-only
    {
        display: block;
    }

    .az-navbar > .az-navbar-top-content.mobile > .az-navbar-menu-wrapper > .az-navbar-menu.az-display-left.desktop-only
    {
        display: none;
    }

    .az-navbar > .az-navbar-top-content.mobile > .az-navbar-menu-wrapper > .az-navbar-menu.az-display-right.desktop-only
    {
        display: none;
    }

    .az-navbar > .az-navbar-top-content.mobile > .az-navbar-menu-wrapper > .az-navbar-menu
    {
        display: block;
        width: 100%;
    }

        .az-navbar > .az-navbar-top-content.mobile > .az-navbar-menu-wrapper > .az-navbar-menu > li
        {
            width: 100%;
        }

    /* Navbar Bottom*/
    .az-navbar.az-navbar-bottom.mobile-only
    {
        display: block;
    }

    .az-navbar.az-navbar-bottom.desktop-only
    {
        display: none;
    }
}