.az-parallax-image
{
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-device-width: 576px)
{
    .az-parallax-image
    {
        background-attachment: scroll;
    }
}

.az-parallax-image > div
{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}

    .az-parallax-image > div > span
    {
        background-color: #111;
        color: #fff;
        padding: 18px;
        font-size: 25px;
        letter-spacing: 15px;
    }


/*.bgimg-1, .bgimg-2, .bgimg-3
{
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1
{
    min-height: 600px;
}

.bgimg-2
{
    min-height: 300px;
}

.bgimg-3
{
    min-height: 300px;
}






#videoContainer
{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
}*/


