
.az-slidein
{
    position: fixed;
    z-index: 5000;
    display: none;
}

    .az-slidein.transition-right
    {
        -webkit-transition: 0.5s ease right;
        -moz-transition: 0.5s ease right;
        -o-transition: 0.5s ease right;
        transition: 0.5s ease right;
    }

    .az-slidein.transition-left
    {
        -webkit-transition: 0.5s ease left;
        -moz-transition: 0.5s ease left;
        -o-transition: 0.5s ease left;
        transition: 0.5s ease left;
    }

    .az-slidein.display-right
    {
        right: 0px !important;
    }

    .az-slidein.display-left
    {
        left: 0px !important;
    }

    .az-slidein > .az-slidein-tab
    {
        position: absolute;
        width: 40px;
        cursor: pointer;
    }

        .az-slidein > .az-slidein-tab > div
        {
            position: relative;
            text-align: center;
        }

    .az-slidein.transition-right > .az-slidein-tab > *
    {
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        transform: rotate(270deg);
        writing-mode: lr-tb;
    }

    .az-slidein.transition-left > .az-slidein-tab > *
    {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        writing-mode: rl-tb;
    }

.az-slidein-card
{
    display: block;
    position: relative;
}

    .az-slidein-card > article
    {
        padding: 7px;
    }