.az-snackbar-container
{
    position: fixed;
    z-index: 5001;
}

    .az-snackbar-container.az-snackbar-left-top
    {
        left: 14px;
        top: 20px;
    }

    .az-snackbar-container.az-snackbar-left-bottom
    {
        left: 14px;
        bottom: 20px;
    }

    .az-snackbar-container.az-snackbar-center-top
    {
        top: 20px;
        left: 50%;
        -webkit-transform: translate(-50%,0%);
        -moz-transform: translate(-50%,0%);
        -o-transform: translate(-50%,0%);
        transform: translate(-50%,0%);
    }

    .az-snackbar-container.az-snackbar-center-bottom
    {
        left: 50%;
        bottom: 20px;
        -webkit-transform: translate(-50%,0%);
        -moz-transform: translate(-50%,0%);
        -o-transform: translate(-50%,0%);
        transform: translate(-50%,0%);
    }

    .az-snackbar-container.az-snackbar-right-top
    {
        right: 14px;
        top: 20px;
    }

    .az-snackbar-container.az-snackbar-right-bottom
    {
        right: 14px;
        bottom: 20px;
    }

    .az-snackbar-container.az-snackbar-full-width-top
    {
        top: 20px;
        left: 14px;
        right: 14px;
    }

    .az-snackbar-container.az-snackbar-full-width-bottom
    {
        left: 14px;
        right: 14px;
        bottom: 20px;
    }

.az-snackbar
{
    opacity: 0;
    min-width: 250px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

    .az-snackbar.az-snackbar-left-top
    {
        margin-bottom: 7px;
    }

    .az-snackbar.az-snackbar-left-bottom
    {
        margin-top: 7px;
    }

    .az-snackbar.az-snackbar-center-top
    {
        margin-bottom: 7px;
    }

    .az-snackbar.az-snackbar-center-bottom
    {
        margin-bottom: 7px;
    }

    .az-snackbar.az-snackbar-right-top
    {
        margin-bottom: 7px;
    }

    .az-snackbar.az-snackbar-right-bottom
    {
        margin-top: 7px;
    }

    .az-snackbar.az-snackbar-full-width-top
    {
        margin-bottom: 7px;
    }

    .az-snackbar.az-snackbar-full-width-bottom
    {
        margin-top: 7px;
    }

    .az-snackbar > .az-snackbar-table
    {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        border: 0;
    }

        .az-snackbar > .az-snackbar-table .az-snackbar-close
        {
            width: 20px;
            font-weight: bold;
            cursor: pointer;
        }
