.az-snackbar
{
    position: fixed;
    z-index: 5001;
    opacity: 0;
    min-width: 250px;
    max-width: 500px;
    padding: 14px 0 14px 0;
}

    .az-snackbar.az-snackbar-left-top
    {
        left: 7px;
        top: -20px;
    }

    .az-snackbar.az-snackbar-left-bottom
    {
        left: 7px;
        bottom: -20px;
    }

    .az-snackbar.az-snackbar-right-top
    {
        right: 7px;
        top: -20px;
    }

    .az-snackbar.az-snackbar-right-bottom
    {
        right: 7px;
        bottom: -20px;
    }

    .az-snackbar.az-snackbar-mobile
    {
        width: 100%;
        left: 0;
        right: 0;
    }

    .az-snackbar > .az-snackbar-table
    {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        border: 0;
    }

        .az-snackbar > .az-snackbar-table .az-snackbar-text
        {
            padding: 0 14px 0 14px;
        }

        .az-snackbar > .az-snackbar-table .az-snackbar-close
        {
            width: 20px;
            font-weight: bold;
            cursor: pointer;
        }
